<a href="https://colab.research.google.com/github/simransirsat/MLPracticals/blob/main/MLE7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [ ]:
import pandas as pd
import seaborn as sns
df=pd.read_csv('/content/sample_data/textclass.csv', encoding='latin')

In [ ]:
df

                                                   text  target
0     Go until jurong point, crazy.. Available only ...       0
1                         Ok lar... Joking wif u oni...       0
2     Free entry in 2 a wkly comp to win FA Cup fina...       1
3     U dun say so early hor... U c already then say...       0
4     Nah I don't think he goes to usf, he lives aro...       0
...                                                 ...     ...
5567  This is the 2nd time we have tried 2 contact u...       1
5568              Will Ì_ b going to esplanade fr home?       0
5569  Pity, * was in mood for that. So...any other s...       0
5570  The guy did some bitching but I acted like i'd...       0
5571                         Rofl. Its true to its name       0

[5572 rows x 2 columns]

In [ ]:
df=df[['text','target']]

In [ ]:
df=df.sample(frac=1)
df=df[0:5000]
df.reset_index(drop=True,inplace=True)

In [ ]:
df

                                                   text  target
0     I'm reading the text i just sent you. Its mean...       0
1     FreeMsg: Hey - I'm Buffy. 25 and love to satis...       1
2                                Wait  &lt;#&gt;  min..       0
3     Hi, Mobile no.  &lt;#&gt;  has added you in th...       0
4                       True. Its easier with her here.       0
...                                                 ...     ...
4995  07732584351 - Rodger Burns - MSG = We tried to...       1
4996  Carlos says we can pick up from him later so y...       0
4997              Any pain on urination any thing else?       0
4998                                   U in town alone?       0
4999  Good Morning my Dear........... Have a great &...       0

[5000 rows x 2 columns]

In [ ]:
df.target.value_counts()

0    4321
1     679
Name: target, dtype: int64

In [ ]:
import string
import nltk
import re
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem.porter import PorterStemmer
import re
ps = PorterStemmer()
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
review_lines = list()
lines=df['text'].values.tolist()
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

0 -> Ham 1 -> Spam

In [ ]:
for line in lines:
  line = re.sub(r'^https?:\/\/.*[\r\n]*',' ',line)
  tokens =word_tokenize(line)

# convert to Lower case 
  tokens = [w.lower() for w in tokens]

# remove punctuation from each word 
  table = str.maketrans (" "," ", string.punctuation)

  stripped = [w.translate(table) for w in tokens] # remove remaining tokens that are not alphabetic words 
  words=[word for word in stripped if word.isalpha()] # filter out stop words 
  stop_words = set (stopwords.words ('english')) 
  words = [ps.stem(w) for w in words if not w in stopwords.words('english') ]
  words=" ".join(words)
  review_lines.append(words)

In [ ]:
Y=df['target'].values.tolist()

In [ ]:
review_lines[100:110]

['helloooo wake sweet morn welcom enjoy day full joy gud mrng',
 'free week nokia tone ur mob everi week txt nokia get txting tell ur mate zed pobox',
 'join today formallypl keep prayingwil talk later',
 'callsmessagesmiss call',
 'sound great im go sleep good night',
 'urgent attempt contact u prize yesterday still await collect claim call',
 'mm way railway',
 'get chicken broth want ramen unless nt know',
 'dont know exactli could ask chechi',
 'anyth specif regard jaklin idk fuck']

In [ ]:
from sklearn.model_selection import train_test_split
features_train, features_test, labels_train, labels_test = train_test_split(review_lines, Y, test_size=0.2, random_state=10)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer( max_df=0.5) #
features_train = vectorizer.fit_transform(features_train)
features_test = vectorizer.transform(features_test)

In [ ]:
vocabulary = vectorizer.get_feature_names()
vocabulary[10:20]

['aberdeen',
 'abi',
 'abiola',
 'abj',
 'abl',
 'abnorm',
 'abroad',
 'absolut',
 'abstract',
 'abt']

In [ ]:
labels_train[0:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Sklearn

In [ ]:
from sklearn.naive_bayes import GaussianNB
from time import time

model = GaussianNB()
model.fit(features_train.todense(), labels_train)

score_train = model.score(features_train.todense(), labels_train)


score_test = model.score(features_test.todense(), labels_test)

print("Train set score: ", score_train)
print("Test set score: ", score_test)

Train set score:  0.93425
Test set score:  0.872

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from time import time

model1 = MultinomialNB()
model1.fit(features_train, labels_train)

score_train = model1.score(features_train, labels_train)


score_test = model1.score(features_test, labels_test)

print("Train set score: ", score_train)
print("Test set score: ", score_test)

Train set score:  0.9725
Test set score:  0.964

In [ ]:
corpus=['SALE SALE','i miss you','Hello I am your friend','i am feeling nice','hahaha funny','feeling terrible']
_corpus = vectorizer.transform(corpus).toarray()
predict=model.predict(_corpus)

In [ ]:
predict

array([1, 1, 0, 0, 1, 1])